@media (max-width: 767px) {
  .main-container{
    flex-direction: column;
  }
  .links-container{
    padding-top: 1px;
  }
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'Anonymous Pro', monospace;
  font-size: large;

  height: 99vh;
  width: 99vw;
}
h1{
  margin: 0;
  font-weight: 100;
  font-size: 2rem;
}
h2{
  margin: 0;
  font-weight: 100;
  font-size: 1.5rem;
}
.main-container{
  border: 1px solid black;
  width: fit-content;
  display: flex;
}
.text-container{
  padding: 2%;
  font-size: 1.5rem;
}
.links-container{
  display: flex;
  flex-direction: column;
  background-color: black;
  gap: 1px;
}
.link-container{
  display: inline-flex;
  background-color: white;
  cursor: pointer;
}
@media (min-width: 768px) {
  .link-ico{
        border-left: 1px black solid;
  }
}
.link-ico{
  display: flex;
  height: 5rem;
  width: 5rem;

  align-items: center;
  justify-content: center;

  border-right: 1px black solid;
}
.link-body{
  align-content: center;
  width: 15rem;
  padding-left: 5%;
  font-size: 1.2rem;
}

.telegram:hover{
  background-color: #DFF2FC;
}
.youtube:hover{
  background-color: #FFD9D9;
}
.instagram:hover{
  background-color:#ECE1F4;
}
.vk:hover{
  background-color: #D9EBFF;
}
